.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}
h2 {
  margin-top: -0.1em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
div.user-input {
  font-size: 18px;
}
@media (min-width: 600px) {
  div.user-input {
    display: grid;
    grid-column-gap: 10%;
    grid-template-columns: 45%;
  }
  div.word-suggestions {
    grid-column-start: 1;
    grid-column-end: 2;
  }
  div.definitions {
    grid-column-start: 2;
    grid-row-start: 1;
    grid-row-end: 2 span;
  }
}
@media (max-width: 1400px) {
  div.user-input {
    width: 90%
  }
}
tr {
  vertical-align: top;
}
td {
  padding-bottom: 0.6em;
}
th:nth-of-type(1) {
  padding-right: 3em;
}
.word-suggestions td {
  cursor: cell;
}
table .btn.remove {
  background-color: white;
  border: solid 1px;
  border-color: red;
  border-radius: 50%;
  color: red;
  font-weight: 700;
}
table .btn.remove:hover {
  background-color: white;
  background-color: rgba(255,0,0,0.1);
}
table .btn.remove:focus {
  background-color: rgb(255,0,0);
  background-color: rgba(255,0,0,1);
  color: rgb(255,255,255)
}
