/***** BASE STYLES *****/
.App {
  font-size: 18px;
}
h1 {
  font-size: 2em;
  margin: 0 0 0.3em 0;
  z-index: 95;
}
h2 {
  font-size: 1.6em;
}
h3 {
  font-size: 1.4em;
}
p {
  text-align: left;
}
a, a:visited {
  color: #61DAFB;
}
/***** END - BASE STYLES *****/
.App {
  display: grid;
  grid-template-rows: 120px 1fr;
}

/***** HEADER *****/
.App-header {
  background-color: #222;
  color: #fff;
  display: grid;
  justify-items: center;
}
.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 50px;
  margin-top: 10px;
  z-index: 90;
}
@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

/*** MENU ***/
.menu {
  align-content: start;
  background-color: #222;
  color: #fff;
  display: grid;
  height: 0;
  justify-items: center;
  overflow: hidden;
  transition: 0.5s;
  width: 100%;
  z-index: 80;
}
.menu.active {
  height: calc(100vh - 120px);
  transition: 0.5s;
}
.btn-tour {
  background-color: #fff;
  border-radius: 6px;
  color: #222;
  cursor: pointer;
  display: none;
  font-size: 1.4em;
  font-weight: 700;
  margin: auto;
  padding: 0.6em 1.4em;
}
.btn-tour:hover {
  background-color: #ccc;
  color: #000;
}
.menu span {
  margin: 0 10px;
}
.mailchimp-subscribe input {
  margin: 10px;
}
.mailchimp-subscribe button {
  background: transparent;/*#61DAFB;*/
  border: 2px solid #61DAFB;/*#047695;*/
  border-radius: 3px;
  color: #fff;
  cursor: pointer;
  font-weight: 700;
  padding: 5px 15px;
  text-align: center;
  text-decoration: none;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}
.mailchimp-subscribe button:hover {
  background-color: #61DAFB;
  color: black;
}
.mailchimp-subscribe .msg-alert p {
  margin: 10px auto;
  text-align: center;
}
.menu section {
  display: grid;
  grid-template-rows: auto 1fr;
  overflow-y: hidden;
  transition: height 1s;
}
.menu section .accordian {
  height: 0;
  transition: height 1s;
}
.menu section.active .accordian {
  height: calc(100vh - 120px - 44px - 54px - 2 * (3em + 20px));
  overflow-y: scroll;
  transition: height 1s;
}
.menu h3 {
  cursor: pointer;
  margin: 10px auto;
  text-align: center;
}
.menu td {
  text-align: left;
}
::-webkit-scrollbar {
  background: transparent;
  width: 0;
}
@media (max-width:800px) {
  .menu {
    width: 100%;
  }
  .menu section {
    margin: 0 10px;
  }
  .menu section, .menu .btn-tour {
    transition: margin 1s;
  }
  .menu.active section {
    /* margin: 10px 10px; */
    transition: margin 1s;
  }
  .menu.active .btn-tour {
    margin: auto;
    transition: margin 1s;
  }
}
@media (max-width:450px) {
  .menu td:nth-of-type(1) {
    padding-right: 1em;
  }
  .menu th {
    display: none;
  }
}
/* MENU ICON */
.btn-hamburger {
  cursor: pointer;
  display: inline-block;
  position: fixed;
  top: 15px;
  left: 15px;
}
.ham-bar1, .ham-bar2, .ham-bar3 {
  width: 35px;
  height: 5px;
  background-color: #fff;
  margin: 6px 0;
  transition: 0.4s;
}
.active .ham-bar1 {
  -ms-transform: rotate(-45deg) translate(-9px, 6px) ;
  -webkit-transform: rotate(-45deg) translate(-9px, 6px) ;
  transform: rotate(-45deg) translate(-9px, 6px) ;
}
.active .ham-bar2 {
  opacity: 0;
}
.active .ham-bar3 {
  -ms-transform: rotate(45deg) translate(-8px, -8px) ;
  -webkit-transform: rotate(45deg) translate(-8px, -8px) ;
  transform: rotate(45deg) translate(-8px, -8px) ;
}
@media (max-width:800px) {
  .ham-bar1, .ham-bar2, .ham-bar3 {
    width: 28px;
    height: 4px;
  }
  .active .ham-bar1 {
    -ms-transform: rotate(-45deg) translate(-8px, 6px) ;
    -webkit-transform: rotate(-45deg) translate(-8px, 6px) ;
    transform: rotate(-45deg) translate(-8px, 6px) ;
  }
  .active .ham-bar3 {
    -ms-transform: rotate(45deg) translate(-8px, -7px) ;
    -webkit-transform: rotate(45deg) translate(-8px, -7px) ;
    transform: rotate(45deg) translate(-8px, -7px) ;
  }
}
/* END MENU ICON */
/* MENU CONFIG */
section.options .switch-container {
  display: grid;
  justify-items: start;
}
span.label {
  margin-bottom: 0.3em;
}
.switch {
  position: relative;
  display: inline-block;
  width: 80px;
  height: 34px;
}
.switch input {display:none;}
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}
.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}
input:checked + .slider {
  background-color: #2196F3;
}
input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}
input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}
.slider.round {
  border-radius: 34px;
}
.slider.round:before {
  border-radius: 50%;
}
.switch .label {
  margin-top: 26px;
}

section.contact .profile-container {
  display: grid;
  grid-gap: 0 20px;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto 1fr;
}
.profile-img {
  border-radius: 50%;
  grid-row: 1/3;
  width: 100px;
}
.social-btn-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(3em,auto));
  justify-content: start;
}
.icon {
  margin: 0 15px 15px 0;
  width: 2em;
}
/* END MENU CONFIG */
/*** END MENU ***/
/***** END HEADER *****/

/***** USER INPUT *****/
@media (min-width: 600px) {
  div.user-input {
    display: grid;
    grid-column-gap: 10%;
    grid-template-columns: 45%;
  }
  div.word-suggestions {
    grid-column-start: 1;
    grid-column-end: 2;
  }
  div.definitions {
    grid-column-start: 2;
    grid-row-start: 1;
    grid-row-end: 2 span;
  }
}
@media (max-width:800px) {
  .user-input textarea {
    height: 2.6em;
    margin: 0.6em 0;
  }
  .user-input h3 {
    font-size: 1.3em;
    margin: 0.6em 0;
  }
}
@media (max-width: 1400px) {
  div.user-input {
    width: 90%
  }
}
tr {
  vertical-align: top;
}
td {
  padding-bottom: 0.6em;
}
th:nth-of-type(1) {
  padding-right: 3em;
}
.word-suggestions td {
  cursor: cell;
}
.example-appear {
  opacity: 0.01;
}

.example-appear.example-appear-active {
  opacity: 1;
  transition: opacity 5000ms ease-in;
}

.example-leave {
  opacity: 1;
}

.example-leave.example-leave-active {
  opacity: 0.01;
  transition: opacity 3000ms ease-in;
}

/* DEFINITIONS */
table .btn.remove {
  background-color: white;
  border: solid 1px;
  border-color: red;
  border-radius: 50%;
  color: red;
  font-weight: 700;
}
table .btn.remove:hover {
  background-color: white;
  background-color: rgba(255,0,0,0.1);
}
table .btn.remove:focus {
  background-color: rgb(255,0,0);
  background-color: rgba(255,0,0,1);
  color: rgb(255,255,255)
}
/* END DEFINITIONS */
/***** END USER INPUT *****/
